.transfer-button {
    background-color: rgb(66, 65, 65);
    color:white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
body{
    overflow-y: scroll;
    height:100%;
   
}
html, body {
    box-sizing: border-box;
}
